<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zufe.bbscourse.dao.CourseMapper">

    <resultMap id="CourseResultMap" type="com.zufe.bbscourse.model.Course">
        <id property="id" column="id"/>
        <result property="courseName" column="courseName"/>
        <result property="courseCollege" column="courseCollege"/>
        <result property="courseTeacher" column="courseTeacher"/>
        <result property="parentId" column="parentId"/>
        <result property="deleted" column="deleted"/>
    </resultMap>


    <select id="findByCourseName" parameterType="String" resultMap="CourseResultMap">
        SELECT
            id,
            courseName,
            courseCollege,
            courseTeacher,
            parentId,
            deleted
        FROM course
        WHERE courseName = #{courseName}
    </select>


    <select id="findById" parameterType="Integer" resultMap="CourseResultMap">
        SELECT
            id,
            courseName,
            courseCollege,
            courseTeacher,
            parentId,
            deleted
        FROM course
        WHERE id = #{courseId}
    </select>

    <select id="findAll" parameterType="String" resultMap="CourseResultMap">
        SELECT
            id,
            courseName,
            courseCollege,
            courseTeacher,
            parentId,
            deleted
        FROM course
    </select>

    <select id="getCourseCollege" resultType="String">
        SELECT courseCollege FROM course group by courseCollege;
    </select>

    <delete id="deleteCourseAndCommentsById" parameterType="Long">
        update  course set deleted = 1 where id = #{postId};
    </delete>

    <select id="findByOffset" parameterType="java.util.Map" resultMap="CourseResultMap">
        select id,
                courseName,
                courseCollege,
                courseTeacher,
                parentId,
                deleted
        FROM course limit ${offSet} ,${pageSize}
     </select>

</mapper>